<div class="panel panel-default">
<h1><%= content_for :title %></h1>
  <center><h2>Sign In</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<%= form_tag(sessions_path) do %>
    <p>
      <%= label_tag :username, 'Username' %>
      <%= text_field_tag :username, nil, :class => 'text_input' %>
    </p>
    <p>
      <%= label_tag :password, t(:password) %>
      <%= password_field_tag :password, nil, :class => 'text_input' %>
    </p>
    <p>
      <%= check_box_tag :remember_me, 'true' %>
      <%= label_tag :remember_me, t(:remember_me) %>
    </p>
    <p>
      <%= submit_tag 'Signin' %> &nbsp;
    </p>
<% end %>
      <%= cookies[:auth_token] %>
      <%= session[:user_id] %>
  </center>
    </div>