<div class="jumbotron">
<div class="container">


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>FileName:</strong>
  <%= @photo.attachment %>
</p>
<p>
    <strong>Photos:</strong>
    <%= public_url = "http://localhost:8090/uploads/"+@photo.attachment %>
    <%= image_tag(public_url, size: "156") %>
</p>

<%= link_to 'Back to Edit other photos', item_photos_path, {class: "btn btn-default"} %> |
  <%= link_to 'Back to Main item Page', item_path(@item), {class: "btn btn-default"} %>
</div>
</div>
