<%= form_for([@item, @itemdetail]) do |f| %>
  <% if itemdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(itemdetail.errors.count, "error") %> prohibited this itemdetail from being saved:</h2>

      <ul>
      <% itemdetail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %>
    <%= f.text_field :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<button id="plus">+</button>
<input type='hidden' id='text_box_count' value=0></input>
<div id="mx"></div>
<script type="text/javascript">
$(document).on('click', '#plus', function(e){
    var count=$('#text_box_count').val();
    count++;
    var cc=$('#text_box_count').val(count);
    var currGroup = $("<div id='textboxes'></div> ");
    currGroup.append("<label><input type='text' name='fab_strength_"+count+"' value='text"+count+"'></input></label>:<input type='text' name='fab_strength_"+count+"' value='text"+count+"'></input>");
    jQuery("#mx").append(currGroup);
});
</script>

<% end %>
