  <h1><%= link_to("Things.Photo", root_path, method: :get) %></h1>
<nav class="navbar navbar-default ">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
		<% favicon_link_tag 'images/favicon-32x32.png' %>
		<% favicon_link_tag 'images/favicon-16x16.png' %>

        <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		  <li><%= link_to("Home", home_index_path, method: :get) %></li>
      <% if !signed_in? -%>
      <li><%= link_to "SignIn", signin_path%></li>
       <li><%= link_to "Register", new_home_path %></li>
      <% end -%>
		  <li><%= link_to "About Us", aboutus_path %></li>
      <% if signed_in? -%> 
      <li><%= link_to("Logout", session_path(current_user), method: :delete) %></li>
      <% end -%>
		</ul>
        </div><!--/.navbar-collapse -->
      </div>
</nav>
  <% if signed_in? -%>
      <ul class="nav nav-tabs">
        <li role="presentation"><li><%= link_to "My Items", items_path%></li></li>
      </ul>
  <% end -%>
