<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Database of Things</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">	
    
    </head>
    <body> 
<%= render 'layouts/navbar'  %> 
<%= yield %>

  </body>
<%= render 'layouts/footer' %>
</html>
