<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Database of Things</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track'=> 'true' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield(:css) %> <!-- We use this section for our CSS files -->
    </head>
    <body>
    <div class="container">
      <div class="row align-items-start">
<%= render 'layouts/navbar'  %>
      </div>
      <div class="row align-items-center">
        <div class="panel panel-default">
<%= yield %>
          <%= yield(:javascript)%><!-- We put our JavaScript tags here -->
        </br>
        </div>
      </div>
    <div class="row align-items-end">
      <%= render 'layouts/footer' %>
    </div>
    </div>
  </body>
</html>

